@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../sources/fonts/glyphicons-halflings-regular.eot');
    src: url('../sources/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../sources/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../sources/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../sources/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body{
    margin: 0;
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    /*
    *
    * Todo el codigo de arriba es lo que estaba en el de bootstrap.css, ya que
    * como el fondo es comun para todas las paginas pues lo pongo aquí.
    *
    */

    position: relative!important;
    width: 100%!important;
    height: 100%;
}
.menuP
{
    position: relative;
    top: 20%;
}
.caja {
    background-color: white;
    height: 100%;
}
#contenedor
{
    position: relative!important;
    top: 30%;
    left: 10%;
    background-color: white;
}
.espacios
{
    margin-top: 20px;
    margin-right: 20px;
}
.vertical-align{
    display: flex;
    align-items: center;
}

.img-center{
    margin: 0 auto;
}
/*
* Clase hecha para los botones del menu de navegación de la izquierda
*/
.menu-buttons{
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
}

/*
* ID para el texto "central" de la cabecera
*/
#title-cdi {
    font-size: 36px;
}

.buttons-separator{
    margin: 20px 0px;
}

@media only screen and (max-width: 1200px) {
    #title-cdi {
        font-size: 30px;
    }
}

@media only screen and (max-width: 992px) {
    #title-cdi {
        font-size: 24px;
    }
}

@media only screen and (max-width: 768px) {
    .vertical-align{
        display: inline;
    }
}
#cuerpo
 {
     border: 1px solid #DFDFDF;
     min-height: 375px;
 }